# <img src="https://filoger.com/wp-content/uploads/2021/09/circle-logo-1536x1536.png" alt="keras" width="150" height="150">
<h1 align=center><font size = 7>Lab 03 : Pandas</font></h1>
<h1 align=center><font size = 4>Filoger Summer School, 1401 | DeadLine: 15th Tir, 23:00 </font></h1>

## Question Sheet!

<div class="alert alert-block alert-info" style="margin-top: 20px">
<font size = 3>

<b>Download the Question sheet from the following link!</b>
-   <a href="https://new.edmodo.com/groups/filoger-summer-school-38664125">Lab 03: Question sheet: Pandas</a>
</font>
</div>

## Table of Exercises!

01. [Question 01](#question01)
2. [Question 02](#question02).
3. [Question 03](#question03).
4. [Question 04](#question04).
5. [Question 05](#question05).
6. [Question 06](#question06).
7. [Question 07](#question07).
8. [Question 08](#question08).
9. [Question 09](#question09).
10. [Question 10](#question10).
11. [Question 11](#question11).
12. [Question 12](#question12).
13. [Question 13](#question13).

<a id='item312'></a>

<a id='question01'></a>
## Question 01

In [2]:
#Leave the answer of question 01 here!
import pandas as pd
data = pd.read_csv('hotel_booking.csv')

<a id='question02'></a>
## Question 02

In [3]:
#Leave the answer of question 02 here!
data.info()
# or use data.describe() or data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

<a id='question03'></a>
## Question 03

In [4]:
#Leave the answer of question 03 here!
len(data)
#or data.shape[0]

119390

<a id='question04'></a>
## Question 04

In [5]:
#Leave the answer of question 04 here!
print('Coulmn',data.isnull().sum().sort_values(ascending=False).index[0],'has the most missing values.')
print(data.isnull().sum().sort_values(ascending=False))

Coulmn company has the most missing values.
company                           112593
agent                              16340
country                              488
children                               4
hotel                                  0
booking_changes                        0
deposit_type                           0
days_in_waiting_list                   0
customer_type                          0
adr                                    0
reserved_room_type                     0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
assigned_room_type                     0
previous_bookings_not_canceled         0
is_canceled                            0
previous_cancellations                 0
is_repeated_guest                      0
distribution_channel                   0
market_segment                         0
meal                                   0
babies                                 0
adults                                 0
stays_in_week_nights                   0
stays_in_weekend_nights                0
arrival_date_day_of_month              0
arrival_date_week_number               0
arrival_date_month                     0
arrival_date_year                      0
lead_time                              0
credit_card                            0
dtype: int64

<a id='question05'></a>
## Question 05

In [6]:
#Leave the answer of question 05 here!
data.drop(['company'],axis=1,inplace=True)

<a id='question06'></a>
## Question 06

In [7]:
#Leave the answer of question 06 here!
data['country'].value_counts().head(5)

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

<a id='question07'></a>
## Qusetion 07

In [8]:
#Leave the answer of question 07 here!
print(data['name'].loc[data['adr'].idxmax()],'has the most ADR.')
print('The amount is:',data['adr'].max())

Daniel Walter has the most ADR.
The amount is: 5400.0

<a id='question08'></a>
## Qusetion 08

In [9]:
#Leave the answer of question 08 here!
import numpy as np
np.round(data['adr'].mean(),decimals = 2)

101.83

<a id='question09'></a>
## Qusetion 09

In [10]:
#Leave the answer of question 09 here!
data['total_days'] = data['stays_in_week_nights'] + data['stays_in_weekend_nights']
np.round(data['total_days'].mean(),decimals=2)

3.43

<a id='question10'></a>
## Qusetion 10

In [11]:
#Leave the answer of question 10 here!
data[['name','email']].loc[data['total_of_special_requests']==5]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

<a id='question11'></a>
## Qusetion 11

In [12]:
#Leave the answer of question 11 here!
#split family name into first and last name
data['family_name'] = data['name'].str.split(' ').str[1]
data['family_name'].value_counts().head(5)

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: family_name, dtype: int64

<a id='question12'></a>
## Qusetion 12

In [13]:
#Leave the answer of question 12 here!
print(data['name'].loc[data['babies'].idxmax()])
print(data['name'].loc[data['children'].idxmax()])

Nicholas Parker
Jamie Ramirez

<a id='question13'></a>
## Qusetion 13

In [14]:
#Leave the answer of question 13 here!
data['code'] = data['phone-number'].str.split('-').str[0]
data['code'].value_counts().head(3)

799    168
185    167
541    166
Name: code, dtype: int64

## Best Wishes!, Filoger